.wrapper {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 100;
  padding: 4px 0;
  background-color: #6a79d1;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.header {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 12px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  color: rgb(107, 37, 73);
  margin-left: 10px;
}

.icon {
  font-size: 30px;
  color: rgb(107, 37, 73);
}

.link {
  min-width: 150px;
  font-size: 22px;
  font-weight: 800;
  font-weight: 500;
  margin-left: 22px;
  padding: 4px 10px;
  border-radius: 8px;
  color: rgb(32, 31, 31);
  box-shadow: 0 0 10px rgb(162, 57, 59);
  &:hover {
    box-shadow: 0 0 10px #0539aa, 0 0 20px #0539aa;
  }
}

.active {
  color: rgb(209, 195, 195);
  background-color: rgb(162, 57, 59);
}
