.title {
  font-size: 26px;
  text-align: center;
  color: rgb(107, 37, 73);
}

.titleQuery {
  color: rgb(174, 32, 32);
}
.list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: calc(100vw - 260px);
  margin: 10px auto 0;
}
