.text {
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  margin: 8px auto;
  background-color: rgb(184, 187, 187);
  border: none;
  border-radius: 10px;

  padding: 4px 12px;
  max-width: 1000px;
  color: var(--text-color);
  background: #fffbd5;
  background: -webkit-linear-gradient(to right, #eb5757, #000000);
  background: linear-gradient(to right, #eb5757, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 540px 20px;

  font-size: 22px;
  background-color: #6a79d1;
  box-shadow: 0 0 10px rgb(162, 57, 59);
  color: red;
  font-weight: 600;
  width: 160px;
  padding: 8px 20px;
  border-radius: 12px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 6px #0539aa, 0 0 6px #0539aa;
  }
}

.textArrow {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
